* {
  margin: 0;
  padding: 0;git
}
.container {
max-width: 1600px;
margin: 0 auto;
font-family: Lato;
font-size: 14px;
box-sizing: border-box;
}
.page-header {
  width: 100%;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 18px 0;
  box-sizing: border-box;
  background: #222222;
}
.page-header button {
  display: block;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}
.page-header svg {
  width: 100%;
  height: 100%;
  fill: #E8E8E8;
}
.page-header-wrp-btn {
  width: 111px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  /* border: 1px solid green; */
}
.page-header-wrp-btn:nth-child(2) {
  width: 168px;
}

/* === page-header-logo === */
.page-header-logo {
  display: block;
  width: 44px;
  height: 38px;
  /* border: 1px solid #fff; */
  text-decoration: none;
  color: #fff;
}
.page-header-logo:hover img {
  filter: brightness(30%);
}
.page-header-logo:active img {
  filter: brightness(10%);
}
/* === end page-header-logo === */


/* === page-header-search-form === */
.page-header-search-form {
  width: 26px;
  min-height: 26px;
  /* border: 1px solid #fff; */
  position: relative;
}
.page-header-search-form:hover svg {
  fill: orange;
}
.page-header-search-btn {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  position: absolute;
  top: -1px;
  left: 30px;
  color: #fff;
  font-size: 16px;
  font-family: Arial;
  text-transform: capitalize;
}
.page-header-search-btn:focus {
  width: 150px;
  min-height: 20px;
  transition: width 1s ease;
  border: 2px solid #fff;
}
.page-header-search-btn:focus ~ label> svg {
  fill: green;
}
.page-header-search-btn:active ~ label> svg {
  fill: red;
}
/* === end page-header-search-form === */


/* === mobile btn === */
.menu-btn {
  width: 32px;
  height: 32px;
  border: 1px solid #fff;
}
.menu-btn:hover span,
.menu-btn:hover span::before,
.menu-btn:hover span::after{
  background-color: orange;
}
.menu-btn:active span,
.menu-btn:active span::before,
.menu-btn:active span::after{
  background-color: red;
}
.menu-btn span {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: relative;
}
.menu-btn span::before,
.menu-btn span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
}
.menu-btn span::after {
  top: 10px;
}
#menu-switch {
  display: none;
}


/* === end mobile btn === */


/* === account-btn === */
.account-btn svg {
  width: 29px;
  height: 29px;
}
.account-btn:hover svg {
  fill: orange;
}
.account-btn:active svg {
  fill: red;
}
/* === end account-btn === */


/* === cart-btn === */
.cart-btn svg {
  width: 32px;
  height: 29px;
}
.cart-btn:hover svg {
  fill: orange
}
.cart-btn:active svg {
  fill: red;
}
/* === end cart-btn === */
/* ======= end page-header ======= */


/* ======= page-header-banner ======= */
.page-header-banner {
  width: 100%;
  min-height: 764px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
  background-color: #F1E4E6;
  background-image: url('https://i.postimg.cc/nh71xLyT/Layer-57-removebg-preview-1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
  /* border: 3px solid red; */
}
.page-header-banner:hover {
  filter: brightness(50%);
}
.page-header-banner-wrp {
  width: 377px;
  margin: 0 100px 90px 0;
  /* border: 1px solid #000; */
  text-transform: uppercase;
  position: relative;
}
.page-header-banner-wrp:before {
  content: "";
  display: block;
  width: 12px;
  height: 92px;
  background-color: #F16D7F;
  position: absolute;
  top: 0;
  left: -28px;
}
.page-header-banner-title {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  color: #222222;
}
.page-header-banner-subtitle {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}
/* ======= end page-header-banner ======= */



/* ======= categories ======= */

/* ======= end categories ======= */
.categories {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 65px auto 0 auto;
}
.categories-item {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 360px;
  min-height: 260px;
  margin: 0 30px 30px 0;
  background-size: cover;
  background-position: center;
}
.categories-item:nth-child(1) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), 
                    url('https://i.postimg.cc/wjPdKrLr/Layer-43.png');
}
.categories-item:nth-child(2) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), 
                    url('https://i.postimg.cc/K8T0zpCw/Rectangle-30.png');
}
.categories-item:nth-child(3) {
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), 
                    url('https://i.postimg.cc/VNB49rfF/Rectangle-30-1.png');
}
.categories-item:last-child {
  width: 100%;
  background-image: linear-gradient(rgba(33, 22, 22, 0.7), rgba(33, 22, 22, 0.7)), 
                    url('https://i.postimg.cc/DyJgjYf0/Rectangle-20-2.png');
}
.categories-item:nth-child(4n-1),
.categories-item:last-child {
  margin: 0 0 30px;
}
.categories-item-title, 
.categories-item-subtitle{
  display: block;
  width: 100%;
  text-transform: uppercase;
}
.categories-item-title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19,2px;
  text-align: center;
  color: #FFFFFF;
}
.categories-item-subtitle {
  display: block;
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28,8px;
  text-align: center;
  color: #F16D7F;
}
/* ======= end categories ======= */


/* ======= products ======= */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}
.products-title {
  display: block;
  width: 100%;
  margin: 6px 0 0 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}
.products-txt {
  display: block;
  width: 100%;
  margin: 0 0 48px 0;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16,8px;
  color: #9F9F9F;
}
.products-item {
  display: block;
  width: 360px;
  margin: 0 30px 30px 0;
  position: relative;
  background: #F8F8F8;
  text-decoration: none;
  box-sizing: border-box;
}
.products-item:nth-child(3n-1) {
  margin: 0 0 30px 0;
}
.products-item:hover .products-item-btn {
  display: flex
}
.products-item:hover .products-item-btn:hover {
  background-color: #ccc;
  color: #000;
  border: 1px solid #000;
}
.products-item:hover .products-item-btn:hover svg {
  fill: #000;
}
.products-item:hover .products-item-btn:active {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
}
.products-item:hover .products-item-btn:active svg {
  fill: #fff;
}
.products-item:hover .products-item-photo {
  filter: brightness(50%);
}
.products-item:hover: .products-item-photo-wrp:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(58, 56, 56, 0.86);
}
.products-item-photo-wrp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F7E4E2;
  box-sizing: border-box;
}
.products-item-photo {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}
.products-item-txt-wrp {
  padding: 25px 18px 20px 18px;
  box-sizing: border-box;
  text-align: left;
}
.products-item-title {
  display: block;
  margin: 0 0 12px 0;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}
.products-item-txt {
  margin: 0 0 18px 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}
.products-item-price {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.products-item-btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 160px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  background: transparent;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  position: absolute;
  top: 30%;
  left: calc(50% - 80px);
}
.products-item-btn svg {
  fill: #fff;
  margin: 0 11px 0 0;
}
.products-btn {
  display: block;
  width: 211px;
  padding: 14.5px;
  background-color: #fff;
  border: 2px solid #F26376;
  box-sizing: border-box;
  color: #F26376;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19,2px;
  text-align: center;
  word-break: break-all;
}

.products-btn:hover {
  background-color: #fff;
  border: 2px solid #000;
  color: #000;
}
.products-btn:active {
  background-color: #fff;
  border: 2px solid #F26376;
  color: #F26376;
}
/* ======= end products ======= */





/* ======= features ======= */
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1600px;
  min-height: 341px;
  padding: 20px;
  margin: 95.5px auto 0 auto;
  background-color: #222224;
  box-sizing: border-box;
}
.features-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 90px 0 0;
}
.features-item:nth-child(4n-1) {
  margin: 0;
}
.features-item-icon {
  display: block;
  margin: 0 0 28px 0;
  fill: #F16D7F;
}
.features-item-title {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 19.96px;
  line-height: 23,95px;
  color: #FBFBFB;
  text-align: center;
}
.features-item-txt {
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 16,77px;
  text-align: center;
  color: #FBFBFB;
}
/* ======= end features ======= */

/* ======= subscribe ======= */
.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  min-height: 448px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-image: linear-gradient(rgba(244,244,244, 0.7), rgba(244,244,244, 0.7)), 
                    url('https://i.postimg.cc/tJVR1VWX/Layer-41.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F3EEEF;
}
.subscribe-info {
  display: flex;
  margin: 0 340px 0 0;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 360px;
}
.subscribe-info-avatar {
  display: block;
  width: 96px;
  height: 96px;
  margin: 0 0 30px 0;
  background-image: url('https://i.postimg.cc/Y28TgSb7/d22362bea3cdf98de9818d4394ba8ed3-1.png');
  background-size: 150%;
  background-position: center -10px;
  border-radius: 50%;
  background-repeat: no-repeat;
}
.subscribe-info-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}
.subscribe-info-txt span {
  font-style: italic;
}
.subscribe-form-wrp {
  width: 355px;
}
.subscribe-form-title, 
.subscribe-form-subtitle {
  color: #222224;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
}
.subscribe-form-title {
  display: block;
  margin: 0 0 10px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 40,13px;
}
.subscribe-form-subtitle {
  display: block;
  margin: 0 0 32px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 30,1px;
}
.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 356px;
}
.subscribe-form-email {
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 20px 0 0 20px ;
  background-color: #E1E1E1;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16,8px;
  color: #222224;
  opacity: 0.67;
}
.subscribe-form-btn {
  display: block;
  padding: 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 0 20px 20px 0;
  background-color: #F16D7F;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16,8px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.subscribe-form-btn:hover {
  background-color: #fff;
  color: #F16D7F;
}
.subscribe-form-btn:active {
  background-color: #F16D7F;
  color: #fff;
}
.page-number {
min-Width: 282.91px;
Height: 43px;
left: 40.28%;
right: 42.03%;
top: 68.66%;
bottom: 30%;
border: 1px solid #854b4b;

}
/* ======= end subscribe ======= */

/* ======= page-footer ======= */
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1600px;
  min-height: 79px;
  padding: 20px 235px;
  box-sizing: border-box;
  background-color: #222224;
}
.page-footer-txt {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.2px;
  color: #FBFBFB;
}
.page-footer-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 148px;
}
.page-footer-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
}
.page-footer-socials-item svg {
  fill: #000;
}
.page-footer-socials-item:hover svg {
  fill: #F16D7F;
}
.page-footer-socials-item:active {
  background-color: #F16D7F;
}
.page-footer-socials-item:active svg {
  fill: #fff;
}
/* ======= end page-footer ======= */
/*=== catalog ===*/
.page-header-catalog-site {
  width: 100%;
  min-height: 148px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: #F1E4E6;
  padding-left: 14.375%;
  padding-right: 14.375%;
  
}
.page-header-catalog-wrp {
  
  margin: auto;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}
.page-header-catalog-title {
position: absolute;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}
.page-header-catalog-subtitle {
  position: absolute;
margin-left: 766px;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
align-items: flex-end;
}


.btn-home {
  font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
text-transform: uppercase;
}
.btn-choise {
  font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
text-transform: uppercase;

}

.catalog-subtitle {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-decoration: none;
  text-transform: uppercase;
}
.search-page-header-catalog {
min-height: 59px;
width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 14.375%;
  padding-right: 14.375%;
}
.btn-filter-category {
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  align-items: center;
}
.btn-filter-category svg {
  fill: #6F6E6E;
  top: 40%;
  left: 60%;
  
}
#switch-filter {
  opacity: 0;
}
#switch-filter:checked ~ .filter-list {
  display: block;
}
.filter {
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  align-items: center;
  
}
.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}
.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}
.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}

.filter-btn:hover {
  color: #F16D7F;
}
.filter-btn:active {
  color: #222224;
}

.filter-list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
.filter-list-item {
  width: 100%;
  margin: 0 0 18px 0;
  padding: 11px;
  box-sizing: border-box;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
  border-bottom: 1px solid #EBEBEB;
  position: relative;
}
.filter-list-item:before {
  content: "";
  display: block;
  width: 5px;
  height: 37px;
  background-color: #EF5B70;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.filter-list-item a {
  text-transform: uppercase;
  color: #EF5B70;
  text-decoration: none;
}
.filter-list-item:hover:before {
  background-color: red;
}
.filter-list-item:hover a {
  color: red;
}
.filter-list-item:active:before {
  background-color: #ccc;
}
.filter-list-item:active a {
  color: #ccc;
}

.filter-sublist {
  margin: 24px 0 0 0;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  list-style: none;
}

.filter-sublist-item {
  margin: 0 0 11px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16.8px;
}
.filter-sublist-item:last-child {
  margin: 0 0 24px 0;
}

.filter-sublist-item a {
  color: #6F6E6E;
  text-decoration: none;
}

.filter-sublist-item:hover a {
  color: #EF5B70;
}
.filter-sublist-item:active a {
  color: #000;
}
}
input:focus,
button:focus {
  outline: none;
}
input:focus-visible, 
button:focus-visible{
  outline: 2px solid #F16D7F;
}



.products {
  /*   max-width: 1140px;
    width: 100%; */
    width: 1140px;
    margin: 0 auto;
    color: #222222;
    background-color: #fff;
  }
  
  .products-title,
  .products-txt {
    width: 100%;
    margin: 0;
    text-align: center;
  }
  
  .products-title {
    margin: 0 0 6px 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;  
  }
  
  .products-txt {
    margin: 0 0 48px 0;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
  }
  
  .products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 18px 0;
    padding: 0;
  }
  
  .products-list li {
    list-style-type: none;
  }
  
  .products-item {
    width: 360px;
    margin: 0 0 30px 0;
    position: relative;
    background: #F8F8F8;
    /* border: 1px solid black; */
  }
  
  .products-item:hover .products-item-btn {
    display: flex;
  }
  
  .products-item:hover .products-item-btn:hover {
    background-color: #ccc;
    color: #000;
    border: 1px solid #000;
  }
  
  .products-item:hover .products-item-btn:hover svg {
    fill: #000;
  }
  
  .products-item:hover .products-item-btn:active {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .products-item:hover .products-item-btn:active svg {
    fill: #fff;
  }
  
  .products-item:hover .products-item-photo {
    filter: brightness(50%);
  } 
  
  .products-item-photo {
    display: block;
    width: 100%;
    height: 424px;
    margin: 0 auto;
    /* border: 1px solid red; */
  }
  
  .products-item-txt-wrp {
    padding: 25px 18px 20px 18px;
    box-sizing: border-box;
    text-align: left;
  }
  
  .products-item-title {
    display: block;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
  }
  
  .products-item-txt {
    margin: 0 0 18px 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
  }
  
  .products-item-price {
    display: block;
    margin: 0;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
  }
  
  .products-item-btn {
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 38.3%;
    min-height: 43px;
    border: 1px solid #FFFFFF;
    background: transparent;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    position: absolute;
    top: 188px;
    left: 32.7%;
  }
  
  .products-item-btn svg {
    fill: #fff;
    margin: 0 11px 0 0;
  }
  
  .products-btn {
    display: block;
    max-width: 212px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    color: #F26376;
    box-sizing: border-box;
    border: 1px solid #ff6a6a;
    background-color: #fff;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
    word-break: break-all;
  }
  
  .products-btn:hover {
    background-color: #ff6a6a;
    color: #fff;
  }
  
  .products-btn:active {
    background-color: #fff;
    color: #ff6a6a;
  }
  
.padding-site {
  padding-left: 14.375%;
  padding-right: 14.375%;
  box-sizing: border-box;
}
/*product*/
.product-women-title {
width:100%;
height: 724px;
}
.product-women-title {
  margin-top: 7.69%;
  bottom: 65.52%;
  background: #F7F7F7;
}
.product-women-title-banner-wrp {

}
.product-women-title-img {
  width:597px;
  height: 724px; 
  margin-left: 32.12%;
  margin-right: 30.56%;
  margin-top: 8.07%;
  bottom: 66.97%;
}
.product-prewiew {
  display: flex;
  box-sizing: border-box;
  z-index: 1;
  Width:71.31%;
  height: 601px;
  margin-left: auto;
margin-right: auto;
  border: 1px grey;
  background: #FFFFFF;
  justify-content: center

}
.collection-name {
  display: flex;
  position: absolute;
  font-family: Lato;
  justify-content: center;
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
padding-top: 64.54px;
text-transform: uppercase;

}
.product-name {
  display: flex;
  position: absolute;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  padding-top: 108.1px;
}
.product-info {
  position: absolute;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-top: 179.51px;
  margin-right: 32%;
    margin-left: 32%;
  color: #5E5E5E;
  
}
.product-info-price  {
  padding-top: 263px;
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.btn-choose {
  display: flex;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  align-items: center;
  padding-top: 324px;
}
.btn-choose svg {
  fill: #6F6E6E;
  top: 40%;
  left: 60%;
  
}
#switch-filter {
  opacity: 0;
}
#switch-filter:checked ~ .filter-list {
  display: block;
}
.filter {
  padding: 13px 16px 16px 16px;
  box-sizing: border-box;
  align-items: center;
  
}
.filter-btn {
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: #000000;
  text-align: left;
}
.filter-btn span {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16.8px;
  text-transform: uppercase;
}
.filter-btn svg {
  margin: 0 0 0 11px;
  fill: currentColor;
}
.products-card {
  display: flex;
  position: absolute;
  width: 211px;
  height: 47.4px;
  border: 1px solid #FF6A6A; 
}
.card-btn {
 display: flex; 
 align-items: center;
 justify-content: flex-end;
 position: absolute;
 font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: #F26376;


}
